<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.larry.cloundusb">

    <application
        android:name=".cloundusb.application.GetContextUtil"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">   <!--   name 将此类声明为系统的类-->
        <activity
            android:name=".cloundusb.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".cloundusb.activity.SendFileActivity" />       <!--发送文件类-->
        <activity android:name=".cloundusb.testactivity.ClientActivity" />
        <activity
            android:name=".cloundusb.activity.SendProgressActivity"
            android:launchMode="singleInstance" />   <!--显示文件进度类-->
        <activity android:name=".cloundusb.activity.SelectContactActivity" />   <!--  选择联系人发送-->
        <activity android:name=".cloundusb.activity.FeedBackActivitiy" />
        <activity android:name=".cloundusb.activity.SettingActivity" />
        <activity android:name=".cloundusb.activity.LoginActivity" />
        <activity android:name=".cloundusb.activity.RegisterActivity" />

        <service android:name=".cloundusb.service.CheckNetWorkStateServices" />  <!--检查网络服务-->
        <activity android:name=".cloundusb.activity.InforActivity" />
        <activity android:name=".cloundusb.qractivity.CaptureActivity" />
        <activity android:name=".cloundusb.qractivity.ResultActivity" />
        <activity android:name=".cloundusb.activity.PersonalSettingActivity" />
        <activity android:name=".cloundusb.activity.CheckUsbActivity" />
        <activity android:name=".cloundusb.activity.CopyFileActivity" />
        <activity android:name=".cloundusb.activity.CheckHistoryActivity" />
        <activity android:name=".cloundusb.activity.SyncPictureActivity" />
        <activity android:name=".cloundusb.activity.SyncProgressActivity" />
        <activity android:name=".cloundusb.activity.CheckPictureActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_NETWORK_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        android:required="true" />  <!--删除文件夹权限、创建权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--使用wifi自建热点时需要的权限，android 7.0系统需要-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


</manifest>
